
  .followerCard {
    height: auto;
    max-width: 250px; /* Set a maximum width to limit the card size */
    border-radius: 50px; /* Combine border-radius definitions */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    padding: 20px; /* Added padding for better spacing */
    border-color: #3B3486;

  }
  
  
  .followerAnalysisCardTitle {
    font-size: 15px;
    font-weight: bolder;
    margin-top: 0;
    color: white;
  }
  
  .followerProgressCircle {
    color: #864AF9;
    margin-top: 5px; 
    margin-right: 5%;
  }
  
  .followerBadge {
    margin-top: 5px; 
  }

  .langCountCard{
   width: 600px;
    height: auto;
    background-color: black;
  margin-left: 7%;
  border-radius: 50px;
  z-index: 1;
  }
  .gradientbackGround{
    margin-left: 10%;
    border-radius: 30px;
  }
.pullRequestCard{
   background-color: black;
   border-radius: 55px;
  text-align: center;
  max-width: 250px;
  height: 200px;
}
.pullReqGradientBack{
  height: 210px;
  border-radius: 30px;
}
.pullRequestTitle{
   color: white;
   font-size: 15px;
   font-weight: bolder;
}

 


  