
  .followerCard {
    height: auto;
    max-width: 250px;
    border-radius: 50px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    padding: 20px; 
    border-color: #3B3486;

  }
  
  
  .followerAnalysisCardTitle {
    font-size: 15px;
    font-weight: bolder;
    margin-top: 0;
    color: white;
  }
  
  .followerProgressCircle {
    color: #864AF9;
    margin-top: 5px; 
    margin-right: 5%;
  }
  
  .followerBadge {
    margin-top: 5px; 
  }

  .langCountCard{
   width: 600px;
    height: auto;
    background-color: black;
  margin-left: 7%;
  border-radius: 50px;
  z-index: 1;
  }
  .gradientbackGround{
    margin-left: 10%;
    border-radius: 30px;
    width: 250px;
  }
.pullRequestCard{
   background-color: black;
   border-radius: 55px;
  text-align: center;
  width: 320px;
  height: 195px;
}
.pullReqGradientBack{
  height: 180px;
  border-radius: 30px;
}
.pullRequestTitle{
   color: white;
   font-size: 15px;
   font-weight: bolder;
}
.topicCloudCard{
  width: 320px;
  height: 390px;
  background-color: black;
  border-radius: 50px;
  text-align: center;
}
.topicBackGroundGrad{
  height: 395px;
  width: 325px;
  border-radius: 35px;
}
.topicCardTitle{
  font-size: 15px;
  font-weight: bolder;
  color: white;
}
.totalLangCount{
  background-color: black;
  width: 550px;
  border-radius: 10px;
}
.totalLangCountGradient{
  width: 320px;
  height: 250px;
  border-radius: 35px;
}
.topRepoCard{
  border-radius: 45px;
}
.topgradientbackGround{
 border-radius: 30px;
 width: 245px;
 height: 240px;
}
.topRepoCardTitle{
  font-size: 15px;
  text-align: center;
}



  