.langGradientBack {
  border-radius: 30px;
  width: 610px;
}
.totalLangCard {
  height: 240px;
  width: 320px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-color: #3b3486;
}
.totalLangProgressCircle {
  color: #864af9;
  margin-top: 5px;
  margin-right: 5%;
}

.totalLangrAnalysisCardTitle {
  font-size: 15px;
  font-weight: bolder;
  color: white;
}

.mostRecentCard {
  border-radius: 40px;
}
.mostRecentGradient {
  width: 103%;
  height: 102%;
  border-radius: 35px;
}
