.langGradientBack {
  border-radius: 30px;
  width: 610px;
}
.totalLangCard {
  height: 240px;
  width: 320px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-color: #3b3486;
}
.totalLangProgressCircle {
  color: #864af9;
  margin-top: 5px;
  margin-right: 5%;
}

.totalLangrAnalysisCardTitle {
  font-size: 15px;
  font-weight: bolder;
  color: white;
}

.mostRecentCard {
  border-radius: 40px;
}
.mostRecentGradient {
  width: 103%;
  height: 102%;
  border-radius: 35px;
}
.repoFlexCard{
  width: 110%;
  margin-top: 36%;
  border-radius: 40px;
}
.oldestRepoCard{
  border-radius: 50px;
}
.repoFlexHeading{
  border-bottom-width: 5px;
  border-bottom-color: #FC6736;
}
.repoGradinetBack{
  width: 110%;
  border-radius: 35px;
}
.tt{
  border-right-width: 3px;
  border-right-color: #F72798;
}