@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.tabCard{
    background-color: black;
    border-radius: 55px;
    max-width: 230px;
    height: 165px;
}
.tabCardBackGradient{
 max-width: 280px;
 border-radius: 30px;
}
.heroTitle{
    font-family: "Shantell Sans", cursive;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}
h2 , h3 , span ,p{ 
    font-family: "Shantell Sans", cursive;
}
.y{
font-size: 17px;
}